button{
    padding: 10px 20px;
    border-radius: 8px;
    background-color: blue;
    color: white;
    cursor: pointer;
}
button :hover{
    padding: 10px 20px;
    background-color: blue;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    grid-template-rows: 300px 300px 300px 300px ;
    grid-gap: 10px ;
}
.grid-items-grey{
    border-radius: 20px;
    background-color: pink;
    font-size: xx-large;
    text-align: center;
    padding-top: 50px;
}
.grid-items-white{
    border-radius: 20px;
    background-color:blue;
    font-size: xx-large;
    text-align:center;
    padding-top: 50px;
}
